.modal-title .icon {
  margin-right: 10px;
}

.modal-header.primary .modal-title .icon { color: #007bff; }
.modal-header.success .modal-title .icon { color: #28a745; }
.modal-header.info .modal-title .icon { color: #17a2b8; }
.modal-header.warning .modal-title .icon { color: #ffc107; }
.modal-header.danger .modal-title .icon { color: #dc3545; }
.modal-header.secondary .modal-title .icon { color: #6c757d; }
