.breadcrumb-box {
  padding: 5px 15px;
}
.breadcrumb-box * {
  display: inline;
}
.breadcrumb-seperator {
  margin: 0 10px;
  color: #cccccc;
  font-size: 1rem;
}
.breadcrumb-item {
  font-size: 1rem;
}
a.breadcrumb-item:hover {
  color: #0066ff;
}
